/*!*******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/home.scss ***!
  \*******************************************************************************************************************************************************/
/* UTILS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "sans-serif";
  color: #333;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  line-height: 0;
}

figure {
  line-height: 0;
}

button,
input[type=submit] {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-ThinItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Roboto", "Verdana", sans-serif;
  font-size: 1.6rem;
  color: #030303;
}

.button, .link {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* LAYOUTS */
.header__inner {
  padding: 60px 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    padding: 0 20px;
  }
}

.col-set-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.col-set-2 > * {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.col-set-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.col-set-3 > * {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.col-set-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.col-set-4 > * {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
}

.col-set-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.col-set-5 > * {
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
}

.footer {
  padding: 60px 0;
}

/* COMPONENTS */
.link {
  color: #24809e;
}
.link--active {
  color: #710707;
}
.link:hover {
  color: #710707;
}

.title-h1 {
  padding-bottom: 20px;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: inherit;
  color: inherit;
}

.title-h2 {
  padding-bottom: 20px;
  font-size: 4.6rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: inherit;
  color: inherit;
}

.title-h3 {
  padding-bottom: 20px;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: inherit;
  color: inherit;
}

.title-h4 {
  padding-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: inherit;
  color: inherit;
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: inherit;
  color: #030303;
}

.text--white {
  color: #ffffff;
}

.text--middle {
  font-size: 2.8rem;
}

.text--small {
  font-size: 1.8rem;
}

.text--right {
  text-align: right;
}

.text--semibold {
  font-weight: 500;
}

.mark {
  color: #710707;
}

.button {
  padding: 15px 30px;
  background-color: #caaa7d;
  border-radius: 8px;
  color: #ffffff;
}
.button:hover {
  background-color: #9d8665;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image--border-10 {
  border-radius: 10px;
}

.image--border-8 {
  border-radius: 8px;
}

.card {
  width: 200px;
  height: 400px;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.card--box-shadow {
  -webkit-box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2);
}

.home {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}
